@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", "sans-serif";
}

.slider {
  -webkit-appearance: none;
  height: 100%;
  background: transparent;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 30px;
  cursor: pointer;
  border: none;
  min-height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./assets/slide_icon.svg");
}

 {
  /** Fire Fox */
}
.slider::-moz-range-thumb {
  height: 30px;
  width: 30px;
  cursor: pointer;
  border: none;
  min-height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./assets/slide_icon.svg");
}
